@mixin button($color) {
  color: $color;
  border: 0.15em solid $color;
  background-color: transparent;
  $sat: saturate($color, 20%);
  $desat: desaturate($color, 40%);

  &:not(:disabled):hover {
    background-color: rgba($color, 0.1);
    border-style: dashed;
  }
  &:not(:disabled):focus {
    background-color: rgba($color, 0.1);
    color: $sat;
    border-color: $sat;
    border-style: dashed;
  }
  &:not(:disabled):active {
    background-color: $color;
    color: $b-color;
  }
  &:disabled {
    color: $desat;
    border-color: $desat;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn {
  @include _btn();
  padding: 0 1.5em;
  margin: 0.5em 1em;
  line-height: 2.5em;
  transition: all ease-in-out 0.2s;
  text-transform: uppercase;
  letter-spacing: inherit;
  font-weight: bold;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  outline: 0;

  // size
  &--medium {
    font-size: 1em;
  }
  &--small {
    font-size: 0.7em;
  }
  &--big {
    font-size: 1.5em;
  }

  // color
  &--default {
    @include button($f-color);
  }
  &--primary {
    @include button($p-color);
  }
  &--secondary {
    @include button($s-color);
  }
}
